{% extends 'base.html.twig' %}

{% block body %}
    <h1>Boletinsalidas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Agente</th>
                <th>Dni</th>
                <th>Dependencia</th>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Destino</th>
                <th>Horasalida</th>
                <th>Horaregreso</th>
                <th>Tiempototal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for boletinSalida in boletinSalidas %}
            <tr>
                <td><a href="{{ path('boletinsalida_show', { 'id': boletinSalida.id }) }}">{{ boletinSalida.id }}</a></td>
                <td>{{ boletinSalida.agente }}</td>
                <td>{{ boletinSalida.dni }}</td>
                <td>{{ boletinSalida.dependencia }}</td>
                <td>{% if boletinSalida.fecha %}{{ boletinSalida.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ boletinSalida.tipo }}</td>
                <td>{{ boletinSalida.destino }}</td>
                <td>{% if boletinSalida.horaSalida %}{{ boletinSalida.horaSalida|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if boletinSalida.horaRegreso %}{{ boletinSalida.horaRegreso|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ boletinSalida.tiempoTotal }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('boletinsalida_show', { 'id': boletinSalida.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('boletinsalida_edit', { 'id': boletinSalida.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('boletinsalida_new') }}">Create a new boletinSalida</a>
        </li>
    </ul>
{% endblock %}
