{% extends 'base.html.twig' %}

{% block body %}
    <h1>Boletinsalida</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ boletinSalida.id }}</td>
            </tr>
            <tr>
                <th>Agente</th>
                <td>{{ boletinSalida.agente }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ boletinSalida.dni }}</td>
            </tr>
            <tr>
                <th>Dependencia</th>
                <td>{{ boletinSalida.dependencia }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if boletinSalida.fecha %}{{ boletinSalida.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ boletinSalida.tipo }}</td>
            </tr>
            <tr>
                <th>Destino</th>
                <td>{{ boletinSalida.destino }}</td>
            </tr>
            <tr>
                <th>Horasalida</th>
                <td>{% if boletinSalida.horaSalida %}{{ boletinSalida.horaSalida|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Horaregreso</th>
                <td>{% if boletinSalida.horaRegreso %}{{ boletinSalida.horaRegreso|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tiempototal</th>
                <td>{{ boletinSalida.tiempoTotal }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('boletinsalida_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('boletinsalida_edit', { 'id': boletinSalida.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
